//####################################################
// utilities
//####################################################

// invisivle tag for invisible elements
.invisible {
    color: transparent;
}

//####################################################
// metrics
//####################################################

.metric_background {
    background-color: rgba(255, 255, 255, 0.08);
}

.metric_sign {
    font-size: small;
}

$test: rgb(120, 255, 199);

//####################################################
// small box
//####################################################

.small_box {
    border-radius: 12;
    border-right-width: 2px;
    border-color: $border_color_window;
    border-style: solid;

    background-color: transparent;
}