//####################################################
// utilities
//####################################################

// invisivle tag for invisible elements
.invisible {
    color: transparent;
}

//####################################################
// metrics
//####################################################

.metric_background {
    background-color: rgba(255, 255, 255, 0.08);
}

.metric_sign {
    font-size: small;
}