$background_color_window: rgba(0, 0, 0, 0.3);
$border_color_window: rgba(255, 255, 255, 0.08);

//####################################################
// Holds basic formating for windows
//####################################################
.window {
    background-color: $background_color_window;

    border-radius: 12;
    border-width: 2px;
    border-color: $border_color_window;
    border-style: solid;

    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}